body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
  }

 .container {
    border: 1px solid #ccc;
    padding: 30px;
    margin: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #1ee224;
    color: white;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9; /
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }

  button[type="submit"] {
    background-color: #1ee224;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #34c759;
  }